# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/

# IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code (optional - uncomment if you want to ignore it)
#.vscode/

# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
**/ios/Flutter/.last_build_id

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release

# Web build artifacts
*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map

# Docs
doc/api/

# Env files
.env*

# Obfuscation / symbols
app.*.symbols
app.*.map.json